<h1>Register</h1>
<form action="/auth/register" method="post">
    <label for="">Username:<input required type="text" name="username"  id="" value="<% if (typeof errorMessage !== 'undefined') {%><%=data.username%><% } %>"></label>
    <label for="">Password:<input required type="password" name="password" id=""></label>
    <button type="submit">Register</button>
</form>

<% if (typeof errorMessage !== 'undefined') { %>
    <p style="color: red"><%= errorMessage %></p>
    <% } %>